$dark-blue: #0A2640
$black: #000
$white: #fff
$gray: #777777
$green: #65E4A3

$card-green: #3cdd98
$white: #fff
$blue: #58a5ef
$card-grey: #838383

$header-sticky-top: 28px

%title-font
    font-family: 'Manrope', sans-serif
    font-weight: 400
    color: $black
%default-font
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 20px
    line-height: 32px
%small-font
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 16px
    line-height: 28px
    color: $gray

%title-font-card
    font-family: 'Montserrat', sans-serif
    font-weight: 300
    font-size: 32px
%default-font-card
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 16px
    line-height: 26px
%small-font-card
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 14px
